In [1]:
inp =eval(input("Enter the list:"))

for i in inp:
    if i%2==0:
        print(i,end=" ")

Enter the list:[1,2,3,4,5,6,7,8,9,10]
2 4 6 8 10

In [2]:
l1=eval(input("Enter the list element"))
for i in l1:
    if i%2!=0:
        print("odd number list is {}".format(i))

Enter the list element[1,2,3,4,5,6,7,8,9,10]
odd number list is 1
odd number list is 3
odd number list is 5
odd number list is 7
odd number list is 9

In [3]:
l=eval(input("Enter the list:"))
l1=[x for x in l if x %2==0]
print(l1)

Enter the list:[1,2,3,4,5,6,7,8,9,10]
[2, 4, 6, 8, 10]

In [4]:
lst=eval(input("Enter the list element:"))
name=[p for p in lst if p%2!=0]
print(name)

Enter the list element:[1,2,3,4,5,6,7,8,9,10]
[1, 3, 5, 7, 9]

In [5]:
def odd(x):
    if x % 2 ==0:
        return True
    else:
        return False
l=eval(input("Enter the list element:"))
l1=list(filter(odd,l))
print("The odd number is",l1)

Enter the list element:[1,2,3,4,5,6,7,8,9,10]
The odd number is [2, 4, 6, 8, 10]

In [6]:
m=eval(input("Enter the list"))
m1=list(filter(lambda x : x % 2 ==0,m))
print("Even num",m1)

Enter the list[1,2,3,4,5,6,7,8,9,10]
Even num [2, 4, 6, 8, 10]

In [7]:
for i in range(10):
    s=lambda i : i %2 ==0
    print(s(i))

True
False
True
False
True
False
True
False
True
False

In [8]:
for x in range(0,20):
    if x %2==0:
        print(x,end=" ")

0 2 4 6 8 10 12 14 16 18

In [9]:
x=eval(input("Enter the dictionary"))
for i in x.keys():
    if i%2==0:
        print()

Enter the dictionary{1:"A",2:"B"}

In [11]:
functions = {
    'add': lambda x, y: x + y,
    'sub': lambda x, y: x + y,
    'multiply': lambda x, y: x * y,
    'divide': lambda x, y: x / y
}

selected_function = input("Enter 'add','sub' 'multiply', or 'divide': ")
result = functions[selected_function](10, 20)
print(result)

Enter 'add','sub' 'multiply', or 'divide': sub
30

In [12]:
sum=lambda x,y : x +y 
print(sum(10,20))

30

In [13]:
mul = lambda x,y : x * y
print(mul(20,3))

60

In [14]:
div = lambda x,y : x/y
div(20,10)

2.0

In [ ]:
sub=lambda x,y : x - y
sub(200,100)

In [15]:
prod=lambda x,y,z :x*y*z
result=prod(2,3,4)
print("The result by using lambda fuction is ",result)
print("The result by using lambda fuction is {} ".format(result))

The result by using lambda fuction is  24
The result by using lambda fuction is 24

In [16]:
even={x : x for x in range(1,20)}
print(even)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19}

In [ ]:
tup=tuple(x **2 for x in range(5))
print(tup)

In [19]:
concat_lambda=lambda str1,str2 : str1+str2
result=concat_lambda("Hello,","World!")
print(result)

Hello,World!

In [20]:
operation_lambda = lambda x, y, op: x + y if op == '+' else x - y if op == '-' else x * y if op == '*' else x / y if op == '/' else None
result = operation_lambda(10, 20, '+')
result = operation_lambda(10, 20, '*')
result = operation_lambda(10, 20, '-')
result = operation_lambda(10, 20, '/')
print(result)
print(result)
print(result)
print(result)

0.5
0.5
0.5
0.5

In [24]:
lst = input("Enter the list separated by spaces: ")
lst = list(map(int, lst.split()))
filt = list(filter(lambda x: x % 2 == 0, lst))
print(filt)

Enter the list separated by spaces: [1,2,3,4,5,6,7,8,9,10]

ValueError: invalid literal for int() with base 10: '[1,2,3,4,5,6,7,8,9,10]'

In [25]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filter_num = list(filter(lambda x: x % 2 != 0, numbers))
print(filter_num)

[1, 3, 5, 7, 9]

In [27]:
words = ['apple', 'banana', 'cherry', 'orange', 'pineapple']
filter_word = list(filter(lambda x: 'a' not in x, words))
print(filter_word)

['cherry']

In [28]:
numbers = [1.2, 2.5, 3.7, 4.8, 5.1, 6.3, 7.9, 8.2, 9.6]
filter_number = list(filter(lambda x: x <= 5.0, numbers))
print(filter_number)

[1.2, 2.5, 3.7, 4.8]

In [30]:
people = [{'name': 'Rahul', 'age': 30 , 'gender': 'Male'}, 
          {'name': 'Santosh', 'age': 35, 'gender': 'Male'}, 
          {'name': 'Sunil', 'age': 37, 'gender': 'Male'}]
filter_people = list(filter(lambda x: 'gender' in x, people))
print(filter_people)

[{'name': 'Rahul', 'age': 30, 'gender': 'Male'}, {'name': 'Santosh', 'age': 35, 'gender': 'Male'}, {'name': 'Sunil', 'age': 37, 'gender': 'Male'}]