In [1]:
fname=input("Your first name")
lname=input("Your last name")
print("Hello " +lname+" "+fname)

Your first nameSunil
Your last nameZambre
Hello Zambre Sunil

In [2]:
values=input("Some comma separated number")
list=values.split(",")
tuple=tuple(list)
print('List: ',list)
print('Tuple: ',tuple)

Some comma separated number1,2,3,4,5,6,7,8,9,10
List:  ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
Tuple:  ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [3]:
color_list=["Red","Green","White","Black"]
print("%s %s"%(color_list[0],color_list[-1]))

Red Black

In [4]:
exam_date=(1,3,2023)
print("The exam will start from : %i / %i / %i"%exam_date)

The exam will start from : 1 / 3 / 2023

In [5]:
a = int(input("Enter an integer: "))

n1 = a
n2 = int(str(a) * 2)
n3 = int(str(a) * 3)


total = n1 + n2 + n3
print(total)

Enter an integer: 5
615

In [6]:
import calendar
y=int(input("Input the year: "))
m=int(input("Input the month: "))
print(calendar.month(y,m))

Input the year: 2023
Input the month: 3
     March 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [7]:
from datetime import date
f_date=date(2023,2,2)
l_date=date(2023,3,9)
num=l_date - f_date
print(num.days)

35

In [8]:
pi=3.14
r=6.0
v=4.0/3.0 * pi * r**3
print("The volume of sphere is ",v)

The volume of sphere is  904.3199999999999

In [9]:
def check(n):
    return ((abs(1000-n)<=100) or abs(2000-n)<=100)
print(check(900))
print(check(899))

True
False

In [10]:
def sum_thrice(x,y,z):
    sum = x + y + z
    if x == y == z:
        sum=sum *3
    return sum
print(sum_thrice(1,2,3))
print(sum_thrice(3,3,3))

6
27

In [11]:
def large_string(str,n):
    result=" "
    for i in range(n):
        result= result + str
    return result
print(large_string('Hello',2))
print(large_string('.py',3))

 HelloHello
 .py.py.py

In [12]:
num=int(input("Enter a number"))
mod=num%2
if mod > 0:
    print("This is an odd number ")
else:
    print("This is an even number")

Enter a number7
This is an odd number

In [13]:
def list_count(nums):
    count = 0
    for num in nums:
        if num == 4:
            count = count + 1
    return count
print(list_count([1,2,3,5,4,7,4]))
print(list_count([5,2,4,5,4,7,4]))

2
3

In [14]:
a=int(input("Enter the value for base:"))
b=int(input("Enter the value for height"))

area = a * b / 2

print("Area = ",area)

Enter the value for base:12
Enter the value for height5
Area =  30.0

In [15]:
def sum(x,y,z):
    if x==y or y==z or x==z:
        sum=0
    else:
        sum=x+y+z
    return sum
print(sum(2,1,2))
print(sum(3,2,2))
print(sum(2,2,2))
print(sum(1,2,3))

0
0
0
6

In [16]:
def sum(x,y):
    sum=x+y
    if sum in range(15,20):
        return 20
    else:
        return sum
print(sum(10,6))
print(sum(10,2))
print(sum(10,12))

20
12
22

In [17]:
def test_num(x,y):
    if x==y or abs(x-y)==5 or (x+y)==5:
        return True
    else:
        return False
print(test_num(7,2))
print(test_num(3,2))
print(test_num(2,2))

True
True
True

In [18]:
def personal_detail():
    name,age="Sunil",37
    address="Tasgaon,Maharashtra,India"
    print("Name: {}\nage:{}\nAdress:{}".format(name,age,address))
personal_detail()

Name: Sunil
age:37
Adress:Tasgaon,Maharashtra,India

In [21]:
x,y = 4,3
result=x * x + 2 * x * y + y * y
print("({} + {} )^2= {}".format(x,y,result))

(4 + 3 )^2= 49