#### 1) Write a Python function using NumPy that takes in a 2D array and returns a new 2D array that contains only the even elements from the original array.

In [1]:
import numpy as np

def even_elements(arr):
    # Find the even elements in the array
    mask = (arr % 2 == 0)
   
    # Create a new array containing only the even elements
    result = np.where(mask, arr, np.nan)
    
    # Remove any rows with only NaN values
    result = result[~np.isnan(result).all(axis=1)]
   
    # Remove any NaN values from the rows
    result = [row[~np.isnan(row)] for row in result]
    
    # Convert the result to a NumPy array with dtype=object
    result = np.array(result, dtype=object)
    return result

# Example usage
arr = np.array([[1, 2, 3],
               [4, 5, 6],
               [7, 8, 9]])
result = even_elements(arr)
print(result)

[array([2.]) array([4., 6.]) array([8.])]

#### 2)Write a program to dispaly(*) equilateral triangle -Pyramid style.

In [2]:
n =int(input("Enter a number of rows in the triangle:"))

for i in range(n):
    # print spaces before the first asterisk
    for j in range(n-i-1):
        print(" ", end="")
    # print the asterisks for this row
    for j in range(2*i+1):
        print("*", end="")
    # move to the next line
    print()

Enter a number of rows in the triangle:5
    *
   ***
  *****
 *******
*********

#### 3)Write a program to display * in right angled traingled form.

In [3]:
def pyramid(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print("*",end=" ")
        print()
pyramid(5)

*
* *
* * *
* * * *
* * * * *

#### 4)Write a program to find reverse of string and check it is palindrome or not

In [4]:
a = input("Enter a string:")

rev = ""

for ch in a:
    rev = rev + ch 

print("Reverse string is :",rev)

if a == rev:
    print("String is a palindrome.")
else:
    print("String is not a palindrome.")

Enter a string:nitin
Reverse string is : nitin
String is a palindrome.

#### 5) Write a program take a two numbers as input from user and returns their sum using split(),list comprehension

In [5]:
def add_numbers(x, y):
    sum = x + y
    return sum

# Get the input as a comma-separated string
input_str = input("Enter the values separated by commas: ")

# Split the string into a list of integers
num_list = [int(num) for num in input_str.split(',')]

# Unpack the list and pass the values as arguments to the add_numbers function
result = add_numbers(*num_list)

print("The adding result is:",result)

Enter the values separated by commas: 1000,2000
The adding result is: 3000

#### 6) Armstrong number (Hint: Check 153 and 407)-sum of cube of  its digit.

In [6]:
num = int(input("Enter a number:"))
sum=0
a = num
while num > 0:
    dig = num % 10
    sum = sum + dig * dig * dig
    num = num // 10
if a==sum:
    print("Number is an armstrong number")
else:
    print("Number is not an armstrong number")

Enter a number:153
Number is an armstrong number

#### 7)Write a function that takes a list of integers and returns the sum of all the even numbers in the list

In [7]:
def even_num(number):
    sum = 0
    for num in number:
        if num % 2 == 0:
            sum = sum + num
    return sum

# Get the input as a comma-separated string
input_str = input("Enter a list of numbers separated by commas: ")

# Split the string into a list of integers
num_list = [int(num) for num in input_str.split(',')]

result = even_num(num_list)
print("The sum of even numbers is: ", result)

Enter a list of numbers separated by commas: 1,2,3,4,5,6,7,8,9,10
The sum of even numbers is:  30

In [8]:
from functools import reduce

def add_even_numbers(acc, num):
    if num % 2 == 0:
        return acc + num
    else:
        return acc

# Get the input as a comma-separated string
input_str = input("Enter a list of numbers separated by commas: ")

# Split the string into a list of integers
num_list = [int(num) for num in input_str.split(',')]

result = reduce(add_even_numbers, num_list, 0)
print("The sum of even numbers is: ", result)

Enter a list of numbers separated by commas: 1,2,3,4,5,6,7,8,9,10
The sum of even numbers is:  30

In [9]:
# Taking multiple input at a time
x = [int(x) for x in input("Enter multiple values separated by space: ").split()]
print("The list of numbers is:", x)

Enter multiple values separated by space: 1 2 3 4 5
The list of numbers is: [1, 2, 3, 4, 5]

In [10]:
#print even number using lambda function
print(list(filter(lambda x : x%2==0,range(1,11))))

[2, 4, 6, 8, 10]

In [11]:
#print without new line in python 3.x without using for loop
l=[1,2,3,4,5,6,7]
print(*l)  #The * before the list variable l is called the "splat" or "unpacking" operator.

1 2 3 4 5 6 7

In [12]:
#positional argument 
def sub(a,b):
    print(a-b)
sub(200,100)
sub(100,50)

100
50

In [13]:
#keyword argument
def wish(name,msg):
    print("Hello",name,msg)
wish(name="sunil",msg="Good Evening")
wish(msg="Good Evening",name="sunil")

Hello sunil Good Evening
Hello sunil Good Evening

In [14]:
#positional and keyword argument simultaneously
def greet(name,msg):
    print("Hello",name,msg)
greet("sunil","Good Evening")
greet("sunil",msg="Good Evening")
#greet(name="sunil","Good Evening")         #SyntaxError: positional argument follows keyword argument

Hello sunil Good Evening
Hello sunil Good Evening

In [15]:
#default argument
def simple(name="guest"):
    print("Hello",name,"Good Evening")
simple("sunil")
simple()

Hello sunil Good Evening
Hello guest Good Evening

In [16]:
#variable length argument 
def sum(*n):
    total=0
    for n1 in n:
        total=total+n1
    print("The sum:",total)
sum()
sum(10)
sum(10,20)
sum(10,20,30)
sum(10,20,30,40)

The sum: 0
The sum: 10
The sum: 30
The sum: 60
The sum: 100

In [17]:
#variable length argument with positional argument
def f1(n1,*s):
    print(n1)
    for s1 in s:
        print(s1)
f1(10)
f1(10,20,30,40)
f1(10,"A",30,"B")

10
10
20
30
40
10
A
30
B

In [18]:
#variable length argument with keyword argument
def f2(*s,n1):
    for s1 in s:
        print(s1)
    print(n1)
f2("A","B",n1=100)
#f2("A","B",10)                 #TypeError: f2() missing 1 required keyword-only argument: 'n1'

A
B
100

In [19]:
#keyword argument stored inside dictionary
def display(**kwargs):
    for k,v in kwargs.items():
        print(k,":",v)
display(n1=10,n2=20,n3=30)
display(rno=100,name="sunil",marks=70,subject="python")

n1 : 10
n2 : 20
n3 : 30
rno : 100
name : sunil
marks : 70
subject : python

In [20]:
def display_product_info(**product):
    for key, value in product.items():
        print(key, ":", value)

product1 = {"name": "iPhone", "price": 1000, "manufacturer": "Apple", "color": "Black"}
product2 = {"name": "Galaxy", "price": 800, "manufacturer": "Samsung", "color": "White"}

display_product_info(**product1)
display_product_info(**product2)

name : iPhone
price : 1000
manufacturer : Apple
color : Black
name : Galaxy
price : 800
manufacturer : Samsung
color : White

In [21]:
def display_car_info(**car):
    for key, value in car.items():
        print(key, ":", value)

car1 = {"make": "Toyota", "model": "Corolla", "year": 2015, "color": "Red"}
car2 = {"make": "Honda", "model": "Civic", "year": 2018, "color": "Blue"}

display_car_info(**car1)
display_car_info(**car2)

make : Toyota
model : Corolla
year : 2015
color : Red
make : Honda
model : Civic
year : 2018
color : Blue

In [22]:
def display_book_info(**book):
    for key, value in book.items():
        print(key, ":", value)

book1 = {"title": "To Kill a Mockingbird", "author": "Harper Lee", "publisher": "J.B. Lippincott & Co.", "year": 1960}
book2 = {"title": "1984", "author": "George Orwell", "publisher": "Secker & Warburg", "year": 1949}

display_book_info(**book1)
display_book_info(**book2)

title : To Kill a Mockingbird
author : Harper Lee
publisher : J.B. Lippincott & Co.
year : 1960
title : 1984
author : George Orwell
publisher : Secker & Warburg
year : 1949