# A dictionary in Python is an unordered collection of key-value pairs, where each key is unique. You can create a dictionary using curly braces {} with the keys and values separated by colons :

In [1]:
#How to create empty dictionary
dictionary={}
print(dictionary)

{}

In [2]:
d=dict()
print(d)

{}

In [3]:
#to check the type 
type(d)

dict

In [4]:
# to check the address
id(d)

1724526888512

In [5]:
#Add entries in the dictionary
d[100]='sunil'
d[200]='santosh'
d[300]='rahul'
print(d)

{100: 'sunil', 200: 'santosh', 300: 'rahul'}

In [6]:
#we know the data in advance then we create dictionary as follows
d={100:'city',200:'main road',300:'highway'}
print(d)

{100: 'city', 200: 'main road', 300: 'highway'}

In [7]:
#Access the data from dictionary
#Acess data by using keys
d={1:'pune',2:'mumbai',3:'delhi',4:'kolkatta',5:'banglore'}
print(d[1])
print(d[2])
print(d[3])
print(d[4])
print(d[5])

pune
mumbai
delhi
kolkatta
banglore

In [8]:
#Addition of two number by using dictionary
number={'a':5,'b':10}
result=number['a'] + number['b']
print("Addition of two number is {}".format(result))

Addition of two number is 15

In [9]:
#programme to enter the name and percentage marks in a dictionary and display information
rec={}
n=int(input("Enter the number of student:"))
i = 1
while i <= n:
    name=input("Enter the student name: ")
    marks=int(input("Enter the student marks: "))
    rec[name]=marks
    i+=1
print("Name of the student ","\t","% of marks")
for x in rec:
      print("\t",x,"\t\t",rec[x])

Enter the number of student:5
Enter the student name: Sunil
Enter the student marks: 78
Enter the student name: Rahul
Enter the student marks: 92
Enter the student name: Ankush
Enter the student marks: 98
Enter the student name: Akshay
Enter the student marks: 99
Enter the student name: Vaibhav
Enter the student marks: 87
Name of the student  	 % of marks
	 Sunil 		 78
	 Rahul 		 92
	 Ankush 		 98
	 Akshay 		 99
	 Vaibhav 		 87

In [10]:
#how to update dictionary
d={100:'ram',200:'sunil',300:'santosh'}
print(d)

{100: 'ram', 200: 'sunil', 300: 'santosh'}

In [11]:
d[400]='rahul'
print(d)

{100: 'ram', 200: 'sunil', 300: 'santosh', 400: 'rahul'}

In [12]:
d[100]='sanket'
print(d)

{100: 'sanket', 200: 'sunil', 300: 'santosh', 400: 'rahul'}

In [13]:
#How to delete element from the dictionary
dct={10:'India',20:'Srilanka',30:'UK',40:'US',50:'Canada'}
print(dct)

{10: 'India', 20: 'Srilanka', 30: 'UK', 40: 'US', 50: 'Canada'}

In [14]:
del dct[10]
print(dct)

{20: 'Srilanka', 30: 'UK', 40: 'US', 50: 'Canada'}

In [15]:
del dct[40]

In [16]:
print(dct)

{20: 'Srilanka', 30: 'UK', 50: 'Canada'}

In [17]:
#clear() to remove all the entries from dictionary
dct.clear()

In [18]:
print(dct)

{}

In [19]:
del d

In [20]:
del dct

In [21]:
dct

NameError: name 'dct' is not defined

In [22]:
d

NameError: name 'd' is not defined

In [23]:
#important function of dictionary
dict()

{}

In [25]:
d=dict([(100,"sunil"),(200,"santosh"),(300,"rahul")])
d

{100: 'sunil', 200: 'santosh', 300: 'rahul'}

In [24]:
len(d)

NameError: name 'd' is not defined

In [26]:
type(d)

dict

In [27]:
id(dct)

NameError: name 'dct' is not defined

In [28]:
id(d)

1724555434112

In [29]:
d.get(100)

'sunil'

In [30]:
d.get(200)

'santosh'

In [31]:
d.get(300)

'rahul'

In [33]:
d.get(400)

In [34]:
print(d.get[400])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [35]:
d.pop(300)

'rahul'

In [36]:
print(d)

{100: 'sunil', 200: 'santosh'}

In [37]:
d.popitem()

(200, 'santosh')

In [38]:
print(d)

{100: 'sunil'}

In [39]:
for k,v in d.items():
    print(k," ",v)

100   sunil

In [40]:
for k in d.keys():
    print(k)

100

In [41]:
d1=d.copy()
print(d1)

{100: 'sunil'}

In [42]:
d.setdefault(200,"sachin")
print(d)

{100: 'sunil', 200: 'sachin'}

In [43]:
d = {'Roll NO': '1', 'Name': 'Ravi'}

# Adding a new key-value pair
d['Address'] = 'Mumbai'

# Modifying an existing key-value pair
d['Name'] = 'sunil'

print(d)

{'Roll NO': '1', 'Name': 'sunil', 'Address': 'Mumbai'}

In [44]:
#Write a program to take dictionary from the keyboard and print the sum of values
dict1=eval(input("Enter the dictionary:"))
s=sum(dict1.values())
print("sum is: ",s)

Enter the dictionary:{'A':200,'B':400}
sum is:  600

In [45]:
dict1 = {"a": 1, "b": 2, "c": 3}
s = sum(value for value in dict1.values())  #generator expression
print("sum is:", s)

sum is: 6

# Python program that uses a dictionary to count the number of occurrences of each letter in a given string

In [46]:
string = input("Enter a string: ")
char_count = {}

for char in string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print("Occurrence of each letter:")
for char, count in char_count.items():
    print(char, ":", count)

Enter a string: Happy Days
Occurrence of each letter:
H : 1
a : 2
p : 2
y : 2
  : 1
D : 1
s : 1

In [47]:
word=input("Enter any word ")
d={}
for x in word:
    d[x]=d.get(x,0) + 1
for k,v in d.items():
    print(k,"occured",v,"times")

Enter any word mississippi
m occured 1 times
i occured 4 times
s occured 4 times
p occured 2 times

# program to find  number of occurence of each vowel present in the given string

In [48]:
word=input("Enter any word")
vowels={'a','e','i','o','u','A','E','I','O','U'}
d1={}
for x in word:
    if x in vowels:
        d1[x]=d1.get(x,0)+1
for k,v in sorted(d1.items()):
    print(k,"occured",v,"times")

Enter any wordBudget for INDIA
A occured 1 times
I occured 2 times
e occured 1 times
o occured 1 times
u occured 1 times

# Python program that uses a dictionary to count the number of occurrences of each vowel in a given string

In [49]:
string = input("Enter a string: ")
vowel_count = {}
vowels = "aeiouAEIOU"

for char in string:
    if char in vowels:
        if char in vowel_count:
            vowel_count[char] += 1
        else:
            vowel_count[char] = 1

print("Occurrence of each vowel:")
for char, count in vowel_count.items():
    print(char, ":", count)

Enter a string: Pray for nation
Occurrence of each vowel:
a : 2
o : 2
i : 1

# Using dictionary comprehension to convert the list of tuples to a dictionary

In [50]:
# A list of tuples
students = [("Rahul", "Physics", 80), ("Santosh", "Computer", 90), ("Anil", "Chemistry", 95)]

# Using dictionary comprehension to convert the list of tuples to a dictionary
student_scores = {student[0]: student[2] for student in students}

print(student_scores)

{'Rahul': 80, 'Santosh': 90, 'Anil': 95}

In [51]:
squares={ x : x * x for x in range(1,6) }

In [52]:
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [53]:
double={ m : 2 * m for m in range(1,6) }

In [54]:
print(double)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}