In [1]:
a=10.5
b=2
print('a+b',a+b)
print('a-b',a-b)
print('a*b',a*b)
print('a/b',a/b)
print('a//b', a//b)
print('a%b',a%b)
print('a**b',a**b)

a+b 12.5
a-b 8.5
a*b 21.0
a/b 5.25
a//b 5.0
a%b 0.5
a**b 110.25

In [2]:
# "sunil"+10
print("sunil"+"10")
# 2.5*'sunil'
print(5*'sunil')
# 'sunil'*'sunil'

sunil10
sunilsunilsunilsunilsunil

In [3]:
a=45
b=50
print("a>b",a>b)
print("a<b",a<b)
print("a<=b",a<=b)
print("a>=b",a>=b)

a>b False
a<b True
a<=b True
a>=b False

In [4]:
a='sunil'
b='sun'
print("a>b",a>b)
print("a<b",a<b)
print("a<=b",a<=b)
print("a>=b",a>=b)

a>b True
a<b False
a<=b False
a>=b True

In [5]:
print(True>True)
print(True>=True)
print(False>False)
print(False>=False)
#print(10>'sunil')

False
True
False
True

In [6]:
a=10
b=20
if(a>b):
    print('a is greater than b')
else:
    print('a is not greater than b')

a is not greater than b

In [7]:
print(10<20)
print(10<20<30)
print(10<20<30<40<50)
print(10<20<30<40>50)

True
True
True
False

In [8]:
print(10==20)
print(10!=20)
print(10==True)
print(False==False)
print(True==True)
print('sunil'=='sunil')
print(10=='sunil')

False
True
False
True
True
True
False

In [9]:
print(True and False)
print(True & False)
print(1 & 0)
print(0 & 1)
print(True or True)
print(True or False)
print(1 | 1)
print(1 | 0)
print(0 | 1)
print(0 | 0)
print(10==20==30==40==50)
print(10==10==10==10==10)

False
False
0
0
True
True
1
1
1
0
False
True

In [10]:
print(not 1)
print(not 0)
print(not True)
print(not False)
print('sunil' and 'sunilzambre')
# print('sunil' & 'sunil')
# print('' and 'sunilzambre')
# print('sunilzambre' and '')
print('' or 'Tasgaon')
print('TasgaonSangli' or '')
print(not'')
print(not 'sunil')

False
True
False
True
sunilzambre
Tasgaon
TasgaonSangli
True
False

In [11]:
print(4 & 5)
# print(10.5 & 5.6 )
print(True & True)
print(~5)
print(~1)
print(~0)
print(10<<2)
print(10>>2)
print(True ^ True)
print(1 ^ 0)
print(0 ^ 0)
print(~True)
print(~False)
print(True<<2)
print(True>>2)

4
True
-6
-2
-1
40
2
False
1
0
-2
-1
4
0

In [12]:
z=10
# z+=20
# z-=30
z*=10
print(z)

a,b=10,20
x=40 if a<b else 50
print(x)

100
40

In [13]:
a=input('Enter the first number')
b=input('Enter the second number')
min=a if a < b else b
print('Minumum value is= ',min)

Enter the first number12
Enter the second number17
Minumum value is=  12

In [14]:
a=int(input('Enter the first number: '))
b=int(input('Enter the second number: '))
c=int(input('Enter the third number: '))
min=a if a<b and a<c else b if b<c else c
print('Minumum value is: ',min)

Enter the first number: 34
Enter the second number: 67
Enter the third number: 23
Minumum value is:  23

In [15]:
a=int(input('Enter the first number: '))
b=int(input('Enter the second number:'))
c=int(input('Enter the third number: '))
max=a if a>b and a>c else b if b>c else c
print('\tMaximum value is:',max)

Enter the first number: 65
Enter the second number:91
Enter the third number: 34
	Maximum value is: 91

In [16]:
a=int(input('Enter the first number: '))
b=int(input('Enter the second number:'))
print('Both numbers are equal' if a==b else 'First number is less than second number' if a<b else 'First number greater than second number')

Enter the first number: 102
Enter the second number:130
First number is less than second number

In [17]:
a=25
b=25
print(a is b)

x=True
y=True
print( x is y)

True
True

In [18]:
s='sunil'
z='sunil'
print(id(s))
print(id(z))
print( s is z)

2256754086128
2256754086128
True

In [19]:
list1=['one','two','three']
list2=['one','two','three']
print(id(list1))
print(id(list2))
print(list1 is list2)
print(list1 is not list2)
print(list1==list2)

2256754185280
2256754177664
False
True
True

In [20]:
mo='Hello learning python is something different!!!'
print('k' in mo)
print('d' in mo)
print('x'!= mo)
print('python' in mo)

False
True
True
True

In [21]:
print(3+10*2)
print((3+10)*2)
print((3/3)*4+20//2)

23
26
14.0

In [22]:
print("The operator precedence result of expression: ",3/2*4+3+(10/5)**3-2)
print("The operator precedence result of expression: ",3/2*4+3+2.0**3-2)
print("The operator precedence result of expression: ",3/2*4+3+8.0-2)
print("The operator precedence result of expression: ",1.5*4+3+8.0-2)
print("The operator precedence result of expression: ",6.0+3+8.0-2)
print("The operator precedence result of expression: ",15.0)

The operator precedence result of expression:  15.0
The operator precedence result of expression:  15.0
The operator precedence result of expression:  15.0
The operator precedence result of expression:  15.0
The operator precedence result of expression:  15.0
The operator precedence result of expression:  15.0

In [23]:
a=30
b=20
c=10
d=5
print((a+b)*c/d)
print((a+b)*(c/d))
print(a+(b*c)/d)

100.0
100.0
70.0

In [24]:
import math
print(math.sqrt(25))
print(math.pi)
# print(math.sin(0))
# print(math.cos(30))
# print(math.sinh(45))

5.0
3.141592653589793

In [25]:
import math as m
print(m.sqrt(25))
print(m.pi)
print(m.pow(2,3))
print(m.floor(20.7869))
print(m.factorial(5))
print(m.trunc(7.34567889))
print(m.gcd(10,2))
print(m.sin(45))
print(m.cos(0))
print(m.sin(0))
print(m.cos(180))
print(m.cos(90))

5.0
3.141592653589793
8.0
20
120
7
2
0.8509035245341184
1.0
0.0
-0.5984600690578581
-0.4480736161291701

In [26]:
from math import sqrt,pi,ceil,floor,pow
print(sqrt(25))
print(pi)
print(math.pi)
print(ceil(34.45678))
print(floor(10.345))
print(pow(4,3))

5.0
3.141592653589793
3.141592653589793
35
10
64.0

In [28]:
from math import pi
r=eval(input("Enter the value of radius:"))
print('Area of circle is',pi*r**2)

Enter the value of radius:3
Area of circle is 28.274333882308138

In [29]:
x=input('Enter the value:')  
print(type(x))

Enter the value:23
<class 'str'>

In [30]:
x=input('Enter first number')
y=input('Enter second number')
i=int(x)
j=int(y)
print('The sum of two number is:',i+j)

Enter first number21
Enter second number25
The sum of two number is: 46

In [31]:
print("The sum of two number is:",int(input('Enter fisrt number:'))+int(input('Enter second number:')))

Enter fisrt number:12
Enter second number:12
The sum of two number is: 24

In [32]:
a,b=[int(x) for x in input('enter two number').split()]
print('product is',a*b)
print('sum is',a+b)

enter two number75 75
product is 5625
sum is 150

In [35]:
a,b,c=[float(x) for x in input('enter three number').split(',')]
print('The sum is:',a+b+c)

enter three number3.4,5.6,7.8
The sum is: 16.8

In [36]:
eval("10+20+30+40")

100

In [37]:
a,b,c=10,20,30
print(a,b,c,sep=',')
print(a,b,c,sep=':')
print(a,b,c,sep='~~~~~')

10,20,30
10:20:30
10~~~~~20~~~~~30

In [38]:
print("Hello",end=' ')
print("sunil",end=' ')
print("zambre")

Hello sunil zambre

In [39]:
w='sunil'
a=39
s1='c++'
s2='python'
print("Hello",w,'Your age is',a)
print('You are studying',s1,'and',s2)

Hello sunil Your age is 39
You are studying c++ and python

In [40]:
a=10
b=20
c=30
print('a value is %i'%a)
print('b value is %d and c value is %d'%(b,c))

a value is 10
b value is 20 and c value is 30

In [41]:
s='sunil'
list1=[10,20,30,40,50]
print("Hello %s..The list of items are %s"%(s,list1))

Hello sunil..The list of items are [10, 20, 30, 40, 50]

In [42]:
name='sunil'
salary='25,000'
fami='family'
print("Hello {0} your salary is {1} you and your \'{2}\' is enjoying these days".format(name,salary,fami))
print("Hello {x} your salary is {y} you and your \'{z}\' is enjoying these days ".format(x=name,y=salary,z=fami))

Hello sunil your salary is 25,000 you and your 'family' is enjoying these days
Hello sunil your salary is 25,000 you and your 'family' is enjoying these days

In [45]:
s="sunil zambre sunil zambre sunil zambre"
for d in s:
    print(d,end=" ")
s.count('sunil')

s u n i l   z a m b r e   s u n i l   z a m b r e   s u n i l   z a m b r e

3

In [46]:
p=input('Enter some string: ')
i=0
for x in p:
    print('The character present at ',i,'index',x)
    i=i+1

Enter some string: sunil zambre
The character present at  0 index s
The character present at  1 index u
The character present at  2 index n
The character present at  3 index i
The character present at  4 index l
The character present at  5 index
The character present at  6 index z
The character present at  7 index a
The character present at  8 index m
The character present at  9 index b
The character present at  10 index r
The character present at  11 index e

In [47]:
for x in range(10):
    print('HELLO')

HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO

In [48]:
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [49]:
 for x in range(21):
        if x%2!=0:
            print(x)

1
3
5
7
9
11
13
15
17
19

In [50]:
for x in range(10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [51]:
t=1
while t<=10:
    print(t)
    t=t+1

1
2
3
4
5
6
7
8
9
10

In [52]:
for i in range(20):
    if i==7:
        print('processing is enough...please break')
        break                
    print(i)

0
1
2
3
4
5
6
processing is enough...please break

In [53]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [54]:
cart=[10,20,30,40,50,600,700]
for item in cart:
    if item>500:
        print('To place this order insurance must be required')
        break
    print(item)

10
20
30
40
50
To place this order insurance must be required

In [55]:
cart=[10,20,30,40,499.5,600,700.90,110,107]
for item in cart:
    if item>=500:
        print('we cannot process this item',item)
        continue
    print(item)

10
20
30
40
499.5
we cannot process this item 600
we cannot process this item 700.9
110
107

In [56]:
num=[10,20,0,5,0,30]
for n in num:
    if n==0:
        print('How we can divide with zero...just skipping')
        continue
    print("100/{}={}".format(n,100/n))

100/10=10.0
100/20=5.0
How we can divide with zero...just skipping
100/5=20.0
How we can divide with zero...just skipping
100/30=3.3333333333333335