In [1]:
x=input('Enter string')
print(type(x))

Enter stringhappy
<class 'str'>

In [2]:
y=eval('10+20+30')
y1=eval('100/5')
y2=eval('10*5')
y4=eval('10+20/3**4//5*40')
print(y,type(y),id(y))
print(y1,type(y1),id(y1))
print(y2,type(y2),id(y2))
print(y4,type(y4))

60 <class 'int'> 2166247870672
20.0 <class 'float'> 2166335146672
50 <class 'int'> 2166247681872
10.0 <class 'float'>

In [3]:
from sys import argv
print(type(argv))
print(argv[0])
print(argv[1])
print(argv[2])

<class 'list'>
C:\Users\Admin\anaconda3\lib\site-packages\ipykernel_launcher.py
-f
C:\Users\Admin\AppData\Roaming\jupyter\runtime\kernel-c6e5688d-90a3-46c8-b1f0-2db3f3b5b3b3.json

In [4]:
from sys import argv
print('The number of command line argument',len(argv))
print("The command line argument",argv)
print("The command line argument one by one ")
for x in argv:
    print(x)

The number of command line argument 3
The command line argument ['C:\\Users\\Admin\\anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\Admin\\AppData\\Roaming\\jupyter\\runtime\\kernel-c6e5688d-90a3-46c8-b1f0-2db3f3b5b3b3.json']
The command line argument one by one
C:\Users\Admin\anaconda3\lib\site-packages\ipykernel_launcher.py
-f
C:\Users\Admin\AppData\Roaming\jupyter\runtime\kernel-c6e5688d-90a3-46c8-b1f0-2db3f3b5b3b3.json

In [5]:
import sys
print(sys.argv)
len(sys.argv)

['C:\\Users\\Admin\\anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\Admin\\AppData\\Roaming\\jupyter\\runtime\\kernel-c6e5688d-90a3-46c8-b1f0-2db3f3b5b3b3.json']

3

In [6]:
a=10
print(type(a))
bin(15)
bin(0)
hex(100)
f=1.2e3
print(f)
type(f)

<class 'int'>
1200.0

float

In [7]:
b=True
B=False
print(b)
print(B)
True+True
False+False
True-False
False-False

True
False

0

In [8]:
s1='sunil'
s2='sunil'
s3='''sunil
      zambre'''
print(s2)
print(s3)

print("i'm from tasgaon")

print('''welcome to grape city \'Tasgaon\' ''')

print('''Harvesting seession of "Grapes" will be started soon..........''')

sunil
sunil
      zambre
i'm from tasgaon
welcome to grape city 'Tasgaon'
Harvesting seession of "Grapes" will be started soon

In [9]:
st='ayodhyanagar'
print(len(st))
print(type(st))
print(id(st))
print(st[:])
print(st[0:0])
print(st[0:])
print(st[:1])
print(st[1:])
print(st[:7])
print(st*5)
print(st[::])

12
<class 'str'>
2166335480688
ayodhyanagar

ayodhyanagar
a
yodhyanagar
ayodhya
ayodhyanagarayodhyanagarayodhyanagarayodhyanagarayodhyanagar
ayodhyanagar

In [10]:
print(int(12.345))
# print(int(10+2j))
print(int(True))
print(int(False))
print(int("10"))
# print(int("10.5"))
print(complex(10))
print(complex(10.5))
print(complex(True))
print(complex(False))
a=3+2j
print(type(a))
print(complex('10.5'))
complex(10,-2)
complex(3,4)
complex(False,False)
complex(True,True)

12
1
0
10
(10+0j)
(10.5+0j)
(1+0j)
0j
<class 'complex'>
(10.5+0j)

(1+1j)

In [11]:
print(bool(0))
print(bool(1))
print(bool(True))
print(bool(False))
print(bool(0.0))
print(bool(1.1))
print(bool(1.5))
print(bool(1+7j))
print(bool("10.7"))
print(bool(0.234567899))
print(bool("True"))
print(bool("False"))
print(bool(3.6e3))
print(str('sunil'))
print(id(str(10-8J)))
print(id(str(True)))

False
True
True
False
False
True
True
True
True
True
True
True
True
sunil
2166335530160
2166249112944

In [12]:
z=[10,20,30,40,50,60,70,80,90,100]
b=bytes(z)
print(type(b))
# print(b[0])
# print(b[-1])
for j in b:
    print(j)

<class 'bytes'>
10
20
30
40
50
60
70
80
90
100

In [13]:
y=[5,20,35,65,75,95]
b=bytearray(y)
for k in b:
    print(k)
print("Elements can be modified ")
b[0]=100
for k in b:
    print(k)

5
20
35
65
75
95
Elements can be modified
100
20
35
65
75
95

In [16]:
x=[0,256]
b=bytearray(x)
type(b)

ValueError: byte must be in range(0, 256)

In [17]:
List=[14,10,1984,"sunil",'True',38.11]
print(List)
print(List[0])
print(List[1])
print(List[3])

for SZ in List:
    print(SZ)
List.append("Dongarsoni") 
List.append("Ayodyanagar")
print(List)
List.remove(38.11)
print(List)
List2=List*2
print(List2)

[14, 10, 1984, 'sunil', 'True', 38.11]
14
10
sunil
14
10
1984
sunil
True
38.11
[14, 10, 1984, 'sunil', 'True', 38.11, 'Dongarsoni', 'Ayodyanagar']
[14, 10, 1984, 'sunil', 'True', 'Dongarsoni', 'Ayodyanagar']
[14, 10, 1984, 'sunil', 'True', 'Dongarsoni', 'Ayodyanagar', 14, 10, 1984, 'sunil', 'True', 'Dongarsoni', 'Ayodyanagar']

In [18]:
T=(29,2022,"Grapes",'Tasgaon')
print(type(T))
# T[0]=23
# T.append("sunil")
# T.remove('Grapes')

<class 'tuple'>

In [ ]:
R=range(10)
for r in R:
    print(r)

R1=range(10,20)
print("\t(2)Range data type form no2")
for r1 in R1:
    print("\t\t",r1)

R2=range(10,20,2)
print("(3)Range data type form no3 ")
for r2 in R2:
    print("\t",r2)
print('Elements present in the range data type with index',R2[0])

In [ ]:
 L=list(range(20))
print("Creating list values with range data type",L)

In [19]:
SET={8,4,3,9,11,32,56,97,74,'sunil'}
print(SET)
SET.add('zambre')
print(SET)
SET.remove(97)
print(SET)
fs=frozenset(SET)
print(fs)
print(type(fs))
for fset in fs:
    print(fset)
# fs.add(70)
# fs.remove(32)

{32, 97, 3, 4, 'sunil', 8, 9, 74, 11, 56}
{32, 97, 3, 4, 'sunil', 8, 9, 74, 11, 'zambre', 56}
{32, 3, 4, 'sunil', 8, 9, 74, 11, 'zambre', 56}
frozenset({32, 3, 4, 'sunil', 8, 9, 74, 11, 'zambre', 56})
<class 'frozenset'>
32
3
4
sunil
8
9
74
11
zambre
56

In [20]:
Dic={}
print("Empty Dictionary",Dic)

Dic1={105:'satara',110:'sangli',120:'kolhapur',130:'solapur',140:'thane'}
print(Dic1)

Empty Dictionary {}
{105: 'satara', 110: 'sangli', 120: 'kolhapur', 130: 'solapur', 140: 'thane'}

In [21]:
print("My name is \'sunil\'")
print('''I\'m from tasgaon''')
print("Hello \bEveryone")
print('Happy new year \"2023\"')

My name is 'sunil'
I'm from tasgaon
Hello Everyone
Happy new year "2023"