In [1]:
s1='sunil'
print(type(s1))
print('Hello'+s1)
print("hi",s1)
print(s1*3)

<class 'str'>
Hellosunil
hi sunil
sunilsunilsunil

In [2]:
st='This is \' single quote symbol'
print(st)
st0='This is \" double quote symbol'
print(st0)
st1="This is ' single quote symbol"
print(st1)
st2='This is "double quote symbol"'
print(st2)
st3=('The \"study notes\" by \'sunil\' is helpful')
print(st3)
st4='''The "python notes" by 'orelly' is helpful '''
print(st4)

This is ' single quote symbol
This is " double quote symbol
This is ' single quote symbol
This is "double quote symbol"
The "study notes" by 'sunil' is helpful
The "python notes" by 'orelly' is helpful

In [3]:
#using index
d='India'
print(d[0])
print(d[1])
print(d[2])
print(d[3])
print(d[4])
# print(d[5])

for i in d:
    print("\t",i)

I
n
d
i
a
	 I
	 n
	 d
	 i
	 a

In [4]:
s=input('Enter something')
i=0
for x in s:
    print("The character present at positive index {} and negative index {} is {}".format(i,i-len(s),x))
    i=i+1

Enter somethingHappy Journey
The character present at positive index 0 and negative index -13 is H
The character present at positive index 1 and negative index -12 is a
The character present at positive index 2 and negative index -11 is p
The character present at positive index 3 and negative index -10 is p
The character present at positive index 4 and negative index -9 is y
The character present at positive index 5 and negative index -8 is
The character present at positive index 6 and negative index -7 is J
The character present at positive index 7 and negative index -6 is o
The character present at positive index 8 and negative index -5 is u
The character present at positive index 9 and negative index -4 is r
The character present at positive index 10 and negative index -3 is n
The character present at positive index 11 and negative index -2 is e
The character present at positive index 12 and negative index -1 is y

In [5]:
s='python is high level programming language'
print(s[1:7:1])
print(s[0::])
print(s[::])
# print(s[::0])
print(s[0:1:])
print(s[0:1:1])
# print(s[1:1:1])
# print(s[0:0:1])
print(s[:7])
print(s[ ::-1])
print('r' in s)
print('t' in s)

ython
python is high level programming language
python is high level programming language
p
p
python
egaugnal gnimmargorp level hgih si nohtyp
True
True

In [6]:
d=input('Enter the main string ')
subs=input('Enter the substring ')
if subs in d:
    print(subs,"is found in main string")  
    for i in subs:
        print(i)
else:
    print(subs,"is found in main string")

Enter the main string Hill Station
Enter the substring illness
illness is found in main string

In [7]:
str1=input('Enter any string: ')
print('forward direction: ')
for i in str1:
    print(i,end='')
print('\nforward direction: ')

for i in str1[::]:
    print(i,end='')

print('\nbackword direction: ')
for i in str1[::-1]:
    print(i,end='')

Enter any string: sunil
forward direction:
sunil
forward direction:
sunil
backword direction:
linus

In [8]:
s1=input('Enter the first string: ')
s2=input('Enter the second string: ')
if s1==s2:
    print('Both strings are equal')
elif s1<s2:
    print('first string is less than second string')
else:
    print('first string is greater than second string')

Enter the first string: sunil
Enter the second string: rahul
first string is greater than second string

In [9]:
s='abcabcabcbacadda'
print(s.count('a'))
print(s.count('ab'))
print(s.count('a',3,7))
print(s.replace('a','b'))

6
3
2
bbcbbcbbcbbcbddb

In [10]:
s='abab'
s1=s.replace('a','b')
print(s,'is available at:',id(s))
print(s1,'is available at:',id(s1))

abab is available at: 2189784382640
bbbb is available at: 2189784567472

In [11]:
g='happy new year'
x=g.split()
for i in x:
    print(i)

happy
new
year

In [12]:
d='26-11-2022'"\n"'27-11-2022'"\n"'28-11-2022'
l=d.split('-')
for i in l:
    print(i)

26
11
2022
27
11
2022
28
11
2022

In [13]:
t=('rahul','aniket','ajit','santosh','shashi','anil','tushar')
s='-'.join(t)
print(s)

rahul-aniket-ajit-santosh-shashi-anil-tushar

In [14]:
l=['dongarsoni','ayodhyanagar','tasgaon','sangli']
l1=['120','121','167','110']
s=':'.join(l)
s2=':'.join(l1)
print(s)
print(s2)

dongarsoni:ayodhyanagar:tasgaon:sangli
120:121:167:110

In [15]:
s='Learn and earn'
print(s.upper())
print(s.title())
print(s.swapcase())
print(s.capitalize())
print(s.startswith('money'))
print(s.endswith('earn'))
print(s.isalnum())
print(s.isalpha())
print(s.isdigit())
print(s.isspace())

LEARN AND EARN
Learn And Earn
lEARN AND EARN
Learn and earn
False
True
False
False
False
False

In [16]:
print(" ".isspace())
print("Learning Python Is Easy".istitle())
print("Learning python is easy".istitle())
print("SUNIL".isupper())
print("sunil".islower())
print("sunil1410".islower())
print("123456788".isdigit())
print("Sunil".islower())
print("SUNIL".isdigit())
print("sunil".isalpha())
print("SunIL".isalnum())
print("sunil1234560".isalnum())

True
True
False
True
True
True
True
False
False
True
True
True

In [17]:
st=input('Enter any character: ')
if st.isalnum():
    print('Alpha numeric character')
    if st.isalpha():
        print('Alphabet chracter')
        if st.islower():
            print('Lower case alphabet chracter')
        else:
            print('uppercase alphabet character')
    else:
        print('It is digit')
elif st.isspace():
    print('It is space character')
else:
    print('Non space special character')

Enter any character: A
Alpha numeric character
Alphabet chracter
uppercase alphabet character

In [18]:
name='sunil'
salary='25000'
age=39
print("{} your salary is {} and age is {} ".format(name,salary,age))
print("{0} your salary is {1} and age is {2} ".format(name,salary,age))
print("{x} your salary is {y} and age is {z} ".format(x=name,y=salary,z=age))

sunil your salary is 25000 and age is 39
sunil your salary is 25000 and age is 39
sunil your salary is 25000 and age is 39

In [19]:
s=input('Enter the string')
print(s[::-1])
print(len(s))
print(type(s))
print(id(s))

Enter the stringGrape City Tasgaon
noagsaT ytiC eparG
18
<class 'str'>
2189784738512

In [20]:
s1=input('Enter the string ')
print("".join(reversed(s1)))

Enter the string Hello Everyone
enoyrevE olleH

In [21]:
s1=input('Enter the string ')
print('Characters at even position',s1[0::2])
print('Characters at odd position',s1[1::2])

Enter the string Happy Republic Day
Characters at even position HpyRpbi a
Characters at odd position ap eulcDy